/* style font */
.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
/* shared styles */
.section-title{
    font-size: 32px;
    font-weight: 800;
    color: #0D1321;
    margin-bottom: 24px;
    text-align: center;
}
  .section-description{
    font-size: 16px;
    color: #0D1321;
    text-align: center;
    
}
/* banner section styles starts here */
.banner-container{
    margin: 0 auto;
    height: auto;
    max-width: 1440px;
    width: 100%;
    margin-top: 50px;
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;   
}
.banner-content{
    display: flex;
    flex-direction: column;
    height: 650px;
    align-items: center;
}
.banner-image{
    margin-top: 26px;
    margin-bottom: 32px;
}
.banner-title{
    font-weight: 800;
    font-size: 48px;
    color: #0D1321;
    margin-bottom: 24px;
}
.banner-title span{
    display: flex; 
    justify-content: center
}
.banner-description{
    font-size: 16px;
    color: #0D1321;
    margin-bottom: 32px;
}
.banner-description span{
    display: flex; 
    justify-content: center
}
.btn-primary{
    background-color: #0D1321;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    padding: 21px 24px;
    border-radius: 8px;
    height: 65px;
    width: 244px;
}
/* why web development section starts here */
main{
    max-width: 1140px;
    margin: 0px auto;
}
.secondary-background{
    background-color: rgba(15, 27, 55, 0.06);
    
}
.reason-of-web-development{
        border-radius: 16px;
        padding: 80px 100px;
        text-align: center;
        margin-top: 75px;
    
}
.about-mission{
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    text-align: left;
    margin-bottom: 32px;
    padding-left: 48px;
    padding-top: 48px;
    margin-top: 48px;
    border-radius: 16px;
    
    
}
.mission-content{
    max-width: 477px;
}


.mission-title{
    font-size: 24px;
    font-weight: bold;
    color: rgba(13, 19, 33, 0.7);
    margin-bottom: 16px;
    text-align: left;
    
}
.mission-description{
    margin-bottom: 32px;
}

.btn-learn-more{
    font-size: 20px;
    font-weight: 500;
    padding: 12px 20px;
}
/* setting gradient */
.gradient-1{
    background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}
.gradient-2{
    background: linear-gradient(to left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}
.gradient-3{
    background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}
/* My Inspiration section's styles start here */
.my-inspiration{
    max-width: 1140px;
    height: 775px;
    text-align: center;
    margin-top: 90px;

}
.youtube-video{
    border-radius: 16px;
    padding:32px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    
}
.text-align{
    padding-left: 144px;
    padding-right: 144px;
    text-align: center;
    margin-bottom:48px ;
    
}
/* My current target section starts here */
.target{
    height: 460px;
}
.section-gap{
    margin-top: 150px;
}

.tools-container{
    display: flex;
    gap: 24px;
    
}
.tool-1{
    background-color: rgba(255, 76, 30, 0.05);
    padding: 40px;
    height: 300px;
    width: 365px;
    border-radius: 16px;
}
.tool-2{
    background-color: rgba(0, 76, 232, 0.05);
    padding: 40px;
    height: 300px;
    width: 365px;
    border-radius: 16px;
}
.tool-3{
    background-color: rgba(255, 223, 0, 0.05);
    padding: 40px;
    height: 300px;
    width: 365px;
    border-radius: 16px;
}
.tool-name{
    margin-top: 24px;
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 800;
}
.tool-description{
    font-size: 16px;
    color: #0D1321;
    margin-bottom: 24px;
}
.link{
    font-weight: bold;
    color: #0D1321;
    font: 16px;
    margin-top: 24px;
}
/* i need support section starts here */
.support{
    margin-top: 50px;
    background-color: rgb(0, 0, 0, 0.5);
    background-image: url(../assets/handshake.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    height: 315px;
    margin-bottom: 80px;
    background-blend-mode: overlay;
}
.support-section-title{
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    padding-top: 64px;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.support-section-description{
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    padding-left: 219px;
    padding-right: 219px;
    margin-bottom: 24px;
}
textarea{
    background-color: #FFFFFF;
    resize: vertical;
    border-radius: 8px;
    font-size: 20px;

}
.text-btn{
    display: flex;
    gap: 16px;
    padding-left: 228px;
}
textarea[placeholder]{
    padding-top: 19px;
    padding-left: 20px;
    
}
.submit-btn{
    font-weight: 600;
    font-size: 20px;
    height: 65px;
    width: 120px;
    border-radius: 8px;
}
